{% extends 'main/base.html' %}

{% block title %}
    Forgot Password
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="indented">
        <p>Steps to reset your account password will be emailed to you.</p>
        <p><i>Forgot or can't access your email?</i> Contact support@errandsfor.me</p>
    </div>
    <br>
    <form method="post" class="indented form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
{% endblock %}