{% extends 'main/base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post" class = "indented form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <br><br>
        <small class="form-text text-muted"><i>By clicking "Sign Up" you agree with the <a href="/terms-of-service">Terms of Service</a> and
            <a href="/privacy-policy">Privacy Policy</a>.</i>
        </small>
    </form>
{% endblock %}
