<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>ErrandsForMe</title>

        {% load static %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div>
            <div class="header-blue" style="padding-bottom: 200px;">
                <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
                    <div class="container-fluid"><a class="navbar-brand" href="/">ErrandsForMe</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse"
                            id="navcol-1">
                            <ul class="nav navbar-nav">
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#"></a></li>
                            </ul>
                            <form class="form-inline mr-auto" target="_self">
                                <div class="form-group"><label for="search-field"></label></div>
                            </form>
                            <span class="navbar-text"> <a class="login" href="/account/login">Log In</a></span><a class="btn btn-light action-button" role="button" href="/account/register">Sign Up</a></div>
                    </div>
                </nav>
                <div class="container hero">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                            <h1>Flatten the curve together.</h1>
                            <p>With ErrandsForMe, you can collaborate with your neighbors, friends, and family to limit exposure to the virus, especially for those most vulnerable. Rather than going out for small necessities, you can post them so your
                                acquaintances already out shopping are able to pick them up for you, while also tracking reimbursements.&nbsp;</p><a href="/account/register" class="btn btn-light btn-lg action-button" type="button">Get Started</a></div>
                        <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                            <div class="iphone-mockup"><img class="device" src="{% static 'img/iphone.svg' %}">
                                <div class="screen"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
