{% extends 'main/base.html' %}

{% block title %}
    Privacy Policy
{% endblock %}

{% block content %}
    <div class="indented">
        <p>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.</p>
        <ul>
            <li>Any data collected is mandatory and failure to provide it will make it impossible for the website to function properly. We will always collect data in lawful means and only when necessary for website function, unless given consent by the individual as outlined by law.</li>
            <li>To be able to create an account, your name and email address provided is collected.</li>
            <li>All item requests made by users are stored forever.</li>
            <li>No personal data or item requests will be shared unless required by law enforcement.</li>
        </ul>

        <p>This policy is effective - 5/7/2020</p>
        <p>We reserve the right to make any changes to this policy at any time without notification.</p>

        <p><i>Contact email: </i>contact@errandsfor.me</p>
    </div>
{% endblock %}